.cv-conteudo {    
    width: 60%;
    background: #FFFFFF;
}

.cv-conteudo-nome {    
    font-size: 56px;        
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0em;
    margin-top: 68px;
    padding-bottom: 20px;        
    color: #6CD0DB;
}

.cv-conteudo-nome + p {    
    padding-bottom: 20px;    
}

.cv-conteudo p {
    line-height: 32px;
    color: #3C3C3C;
}

.cv-conteudo-info {
    margin-right: 148px;
    padding-bottom: 178px;
}

.cv-conteudo-educacao, .cv-conteudo-experiencias {
    font-weight: normal;
    line-height: 32px;
}

.cv-conteudo-titulo {
    margin-top: 48px;    
    margin-bottom: 17px;
    color: #6CD0DB;
}

.cv-conteudo-habilidades {
    width: 260px;
}

.cv-conteudo-habilidades-item {
    display: flex;    
	align-items: center;
	justify-content: space-between;	
	width: 100%;
}

.cv-conteudo-habilidades-titulo {
    font-family: 'Crimson Text', sans-serif;
	font-size: 16px;
	line-height: 32px;
	font-weight: 600;
	color: #3C3C3C;
	text-transform: uppercase;
}

.pontos {
    display: flex;    
	align-items: center;    
}

.ponto {
    margin-right: 7px;    
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3C3C3C
}

.ativo {    
    background-color: #6CD0DB;    
}

@media (max-width: 768px) {  
    .cv-conteudo {
      width: 100%;
      height: 100%;
      padding-bottom: 3rem;
    }

    .cv-conteudo-info {
        margin-right: 0px;
        padding-bottom: 100titulopx;
    }
}
