.cv-dados {    
    width: 60%;
    height: 1054px;
    background: #FFFFFF;
}

.cv-dados h1 {    
    font-size: 56px;        
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0em;    
    padding: 16px 16px 16px 0px;
    margin-top: 68px;        
    color: #6CD0DB;
}

.cv-dados p {
    margin-bottom: 10px;
    padding-left: 2px;
    color: #3C3C3C;
}

#cargo {
    padding-left: 4px;
    padding-bottom: 20px;    
}

.p-educacao, .p-experiencias {
    font-weight: normal;
    line-height: 32px;
}

.habilidades p {
    margin-left: 0px;
    line-height: 32px;
}

.cv-dados h2 {
    margin-top: 48px;    
    margin-bottom: 25px;
    color: #6CD0DB;
}

.habilidades {
    display: flex;
    justify-content: space-between;
    width: 280px;
    height: 22px;    
    margin-bottom: 10px;
}

.pontos {
    display: flex;
    justify-content: space-around;
}

.ponto {
    margin-top: 6px;
    margin-left: 0px;
    margin-right: 7px;
    width: 10px;
    height: 10px;
    border-radius: 50%;    
}

.preto {
    background-color: #3C3C3C;
}

.azul {    
    background-color: #6CD0DB;    
}

@media screen and (max-width: 768px) {  
    .cv-dados {
      width: 100%;
      height: 100%;
      padding-bottom: 3rem;
    }
}
