.cv-dados {    
    width: 60%;
    height: 1054px;
    background: #FFFFFF;
}

.cv-dados
 h1 {
    font-family: Montserrat;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: left;
    padding: 16px 16px 16px 0px;
    margin-top: 68px;
    margin-left: 68px;     
    color: #6CD0DB;
}

.cv-dados
 p {
    margin-bottom: 10px;
    padding-left: 2px;
    color: #3C3C3C;
}

#cargo {
    padding-left: 4px;
    padding-bottom: 20px;
    
}

.p-educacao, .p-experiencias {
    font-weight: normal;
    line-height: 32px;
}

.habilidades p {
    margin-left: 0px;
    line-height: 32px;
}

.cv-dados h2 {
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0.06em;
    text-align: left;
    margin-top: 48px;
    margin-left: 68px;
    margin-bottom: 25px;
    color: #6CD0DB;
}

.habilidades {
    display: flex;
    justify-content: space-between;
    width: 280px;
    height: 22px;    
    margin-left: 68px;
    margin-bottom: 10px;
}

.pontos {
    display: flex;
    justify-content: space-around;
}

.ponto {
    margin-top: 6px;
    margin-left: 0px;
    margin-right: 7px;
    width: 10px;
    height: 10px;
    border-radius: 50%;    
}

.preto {
    background-color: #3C3C3C;
}

.azul {    
    background-color: #6CD0DB;    
}

@media (max-width: 820px) and (min-width: 580px) {
    :root {
        --responsivo: 34px;
    }

    .cv-dados
     {
        height: 1100px;
    }

    .cv-dados
     h1 {
        
        margin-left: var(--responsivo);
        margin-top: var(--responsivo);
    }

    .cv-dados
     h2 {       
        margin-left: var(--responsivo);
    }

    .cv-dados
     p {
        margin-left: var(--responsivo);
    }

    .habilidades {
        margin-left: var(--responsivo);
    }

    .habilidades p {
        margin-left: 0px;
    }    
}

@media (max-width: 580px) {
    :root {
        --responsivo: 20px;
    }  

    .cv-dados {
        width: auto;
        height: auto; 
        padding-bottom: var(--responsivo);       
    }

    .cv-dados
     h1 {
        font-size: 50px;
        margin-left: var(--responsivo);
        margin-top: var(--responsivo);
    }

    #cargo {
        padding-bottom: 10px;
    }

    .cv-dados
     h2 {
        font-size: 29px;
        margin-top: var(--responsivo);
        margin-left: var(--responsivo);
    }

    .cv-dados
     p {
        margin-left: var(--responsivo);
    }

    .habilidades {
        margin-left: var(--responsivo);
    }

    .habilidades p {
        margin-left: 0px;
    }

}